<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">
    <!-- Registrar sucursal -->
    <insert id="agregarSucursal" parameterType="modelo.pojo.Sucursal">
        INSERT INTO Sucursal (nombre, codigoPostal, colonia, telefono, latitud, longitud, nombreEncargado, empresaRFC, direccionID)
        VALUES (#{nombre}, #{codigoPostal}, #{colonia}, #{telefono}, #{latitud}, #{longitud}, #{nombreEncargado}, #{empresaRFC}, #{direccionID})
    </insert>

    <!-- Editar sucursal -->
    <update id="editarSucursal" parameterType="modelo.pojo.Sucursal">
        UPDATE Sucursal
        SET nombre = #{nombre},
        codigoPostal = #{codigoPostal},
        colonia = #{colonia},
        telefono = #{telefono},
        latitud = #{latitud},
        longitud = #{longitud},
        nombreEncargado = #{nombreEncargado},
        direccionID = #{direccionID} 
        WHERE idSucursales = #{idSucursales}
    </update>

    <!-- Eliminar sucursal -->
    <delete id="eliminarSucursal" parameterType="Integer">
        DELETE FROM Sucursal
        WHERE idSucursales = #{idSucursales}
    </delete>

  <!-- En el archivo XML del mapper -->
<select id="buscarSucursal" resultType="modelo.pojo.Sucursal" parameterType="String">
    SELECT *
    FROM Sucursal
    WHERE nombre LIKE CONCAT('%', #{param}, '%')
    OR codigoPostal LIKE CONCAT('%', #{param}, '%')
    OR colonia LIKE CONCAT('%', #{param}, '%')
    OR direccionID IN (SELECT idDireccion FROM Direccion WHERE calle LIKE CONCAT('%', #{param}, '%'))
</select>

  <!-- Contador de promociones  -->
<select id="contarPromocionesAsociadas" resultType="int" parameterType="int">
    SELECT COUNT(*) FROM Sucursal_Promocion
    WHERE sucursalID = #{idSucursal}
</select>


</mapper>
